@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: black; 
}

::-webkit-scrollbar-thumb {
  background: red; 
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: darkred;
}

* {
  scrollbar-width: thin;
  scrollbar-color: red black;
}
